.Hero-container {
  block-size: 108px;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.Hero-content {
  display: flex;
  justify-content: center;
}

.Hero-image {
  margin-block-start: 35px;
  inline-size: 140px;
  block-size: 128.2px;
  background-image: url('/src/static/img/Hero-mobile.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
