.Chat {
  inline-size: 100%;
  max-inline-size: 1200px;
  background-color: var(--background-color);
  display: none;
}

.Chat-content {
  block-size: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Chat {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}
*/
